.Shortly {
  font-size:22px;
  font-weight:500; 
}

.feature{
  color:grey;
  font-size: 16px;
}

.navbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;  
}

.navleft{
  display:flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width:52%;
  align-items: center;
}

.registration {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 12%;
  flex-grow: 0.2;
}

.login {
  color:grey;
  font-size:20px;
}

.signup { 
  font-size:20px;
  background-color:hsl(180, 66%, 49%);
  border-radius:18px;
  color:whitesmoke;
  border-color:white;
  width:95px;
  height:35px; 
}