.Shortly {
  font-size:22px;
  font-weight:500; 
}

.feature{
  color:grey;
  font-size: 16px;
}

.navbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;  
}

.navleft{
  display:flex;
  justify-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width:52%;
  align-items: center;
}

.registration {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 12%;
  flex-grow: 0.2;
}

.login {
  color:grey;
  font-size:20px;
}

.signup { 
  font-size:20px;
  background-color:hsl(180, 66%, 49%);
  border-radius:18px;
  color:whitesmoke;
  border-color:white;
  width:95px;
  height:35px; 
}
.hamburgerMenu{

  position:absolute;
  top:20px;
  right: 20px;
  opacity:0;
  visibility: hidden;

}


@media  (max-width:376px){
  .feature{
    opacity: 0;
    visibility:hidden;
  }
  .registration{
    opacity: 0;
    visibility:hidden;

  }
  .Shortly{
    justify-self: center;
  }
  .hamburgerMenu{
    opacity:0.5;
    visibility: visible; 
    width: 100%;
  }

  .navleft{
    justify-content: center;
    width: 100%;
  }

  .navbar{
    margin: 0%;
    padding: 0%;
  }
 
}