.textpart {
  margin-left:7%;  
}

.midsection {
  display:flex;
  flex-direction: row;
  justify-content: space-between; 
}

.header {
  font-size:40px;
  font-weight:700;
  font-family: poppins, sans-serif;
  width: 275px;
}

.plaintext {
  font-size:18px;
  font-weight:500;
  color:gray;
  width:400px;
}

.button {
  font-size:20px;
  background-color: hsl(180, 66%, 49%);
  border-radius:18px;
  height:40px;
  width:170px;
  border-color:  white;
  color:whitesmoke;
}

.image {
  height:260px; 
}
 @media (max-width:376px){
   .midsection{
     flex-direction: column-reverse;
     width: 100%;
     padding: 0%;
     margin: 0%;
   }
   .textpart{ 
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     margin: 0;
     padding: 0;
   } 
   .plaintext{
     font-size: 16px;
     width:280px;
   }
   .header{
     justify-self: center;
   }
   .image{
     display: flex;
     justify-content:center;
     flex-wrap:nowrap;
     width:100%;
     margin:0%;
     padding:0%;
   }

   .mainimg{
     width:100%;
   }
   .button{
     margin-bottom: 16px;
   }
   
 } 
