
 

.mainpage {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:0%;
  padding: 0%;
  
}

@media (max-width:376px){
  .mainpage{
    margin:0%;
    padding-right: 0%;
    
  }
}


